$contentWidth: 1220px;
$headerMobileHeight: 70px;
$headerHeight: 90px;
$fontColor:#666666;
$fontColor2: #888;
$fontSize: 14px;
$fontFamily: "Open Sans", OpenSans, sans-serif;
$bg1color:#FFF;
$bg2color: #F7F7F7;
$bg3color:#3498DB;
$bttncolor: #337AB7; 
$bttnhovercolor: #286090;
$hovercolor: #eeeeee;
$Hcolor: #333;

$inputFormShadowFocus: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
$inputFormShadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
$inputFormTransition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;